<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/logo/TheColonyLogo_navbar.png" alt="The Colony Logo" height="50px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/colonists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">The Colonists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/playlist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Our Playlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/joinus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Join Us</a>
      </li>
    </ul>
    <app-social-list></app-social-list>
  </div>
  
</nav>

<!--## PURE ANGULAR NAV, for future consideration##-->
<!--<mat-toolbar class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/logo/TheColonyLogo_navbar.png" alt="The Colony Logo" height="50px">
  </a>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/dashboard">The Colonists</button>
      <button mat-button routerLink="/dashboard">Out Playlist</button>
      <button mat-button routerLink="/dashboard">Join Us</button>
      <app-social-list></app-social-list>
  </div>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/dashboard">The Colonists</button>
      <button mat-button routerLink="/dashboard">Out Playlist</button>
      <button mat-button routerLink="/dashboard">Join Us</button>
  <app-social-list></app-social-list>
</mat-menu>
-->