.spinner{
    /**top: 45%;**/
    left: 47%;
    position: fixed;
    margin-top: 10px;

  }
  .colonist-card {
    max-width: 400px;
    height: 99%;
    text-align: center;

  }
  
  .colonist-header-image {
    /**background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');**/
    background-size: cover;
  }
  .mat-card-subtitle, .mat-card-title{
      text-align: left;
  }
  /**
  .live-list {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    height: 350px;
    overflow: auto;
    margin: 0 auto;
  }
  mat-grid-tile{
      padding:10px;
  }
  mat-divider{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-button{
    width:100%;
    color: white;
    background-color: #6441a5;
}

mat-card{
    max-width:300px;
}

.colonistlist > .mat-card-header-text{
    margin-left:0px;
}

.colonist-card {
    max-width: 300px;
  }
  
  .colonist-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-fab{
    margin-top: -23%;
    margin-left: 75%;
    display: inherit;
    color: white;
    background-color: #6441a5;
  }**/