<div class="jumbotron pageheader" id="aboutus">
  <div class="row">
    <div class="col-xs-3 mx-auto">
      <img src="/assets/images/logo/TheColonyBadge_FullColor_300.png" alt="The Colony Logo" class="rounded-circle border border-secondary mx-auto" height="300px">
    </div>
    <div class="col-sm-6 mx-auto">
      <h1 class="display-4">
          Our Mission<br>
          <small><p>To have an open community of gamers who enjoy interacting with varying other people, and doing what we enjoy, though sometimes it is done badly.</p></small>
      </h1>
      <a class="btn btn-lg btn-warning" routerLink="/joinus">
          <h3><i class="fa fa-gamepad pull-left fa-2x"></i><span>Jump On Board</span></h3>
      </a>
    </div>
  </div>
</div>
<div>
  <div>
      <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>
              <mat-card>
                  <mat-card-title>Cool Tile 1</mat-card-title>
                  <mat-card-content>
                    Stuff and things
                </mat-card-content>
              </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>
                  <mat-card-title>Cool Tile 2</mat-card-title>
                  <mat-card-content>
                    Stuff and things again
                </mat-card-content>
              </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-twitter-feed></app-twitter-feed>
          </mat-grid-tile>
        </mat-grid-list>
    
  </div>
  
</div>
